{% macro renderList(records) %}
    {% for record in records %}
        <div class="record">
            <div class="header">
                <div class="title">
                    <span class="icon"><i class="fas fa-calendar-alt"></i></span>
                    <span>{{ record.getTitle() }}</span>
                </div>
                <div class="date">{{ record.getCreatedAt() }}</div>
            </div>
            {% if is_granted('view_record', record) %}
                <div class="summary">
                    <p>{{ record.renderSummary()|raw }}</p>
                    <a class="link" href="{{ path('RecordController.view', {'record': record.getId()}) }}">
                        Read more
                    </a>
                </div>
            {% endif %}
        </div>
    {% endfor %}
{% endmacro %}
