<!doctype html>
<html class="light">
<head>
    <title>Yuconz</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
    <link href='https://use.fontawesome.com/releases/v5.0.6/css/all.css' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" rel="text/css" href="/assets/css/core.css">
    {% block page_head %}
    {% endblock %}
</head>
<body>

{% block page_body %}
{% endblock %}

<script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
<script src="/assets/js/core.js"></script>

</body>
</html>


