<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>
        <property name="dialect">org.hibernate.dialect.H2Dialect</property>
        <property name="connection.url">jdbc:h2:file:./yuconz;AUTO_SERVER=TRUE</property>
        <property name="connection.username"></property>
        <property name="connection.password"></property>

        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.current_session_context_class">thread</property>

        <mapping class="Yuconz.Entity.User"/>
        <mapping class="Yuconz.Entity.Log"/>
        <mapping class="Yuconz.Entity.AbstractRecord"/>
        <mapping class="Yuconz.Entity.AnnualReviewRecord"/>
        <mapping class="Yuconz.Entity.AccessRequest"/>
        <mapping class="Yuconz.Entity.Signature"/>
        <mapping class="Yuconz.Entity.Department"/>
        <mapping class="Yuconz.Entity.Section"/>
        <mapping class="Yuconz.Entity.InitialEmploymentDetailsRecord"/>
    </session-factory>
</hibernate-configuration>
