:root {
    --backgroundColor: #fff;
    --backgroundTintColor: #ccc;

    --textColor: #333;
    --textStrongColor: #111;
    --textWeakColor: #555;

    --tintColor: #502F4C;
}

.dark:root {
    --backgroundColor: #333;
    --backgroundTintColor: #444;

    --textColor: #ccc;
    --textStrongColor: #fff;
    --textWeakColor: #eee;
}

html, body {
    height: 100% !important;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    margin: 0px;
    background: var(--backgroundColor);
    color: var(--textColor);
}

* {
    margin: 0px;
    border: 0px;
}

a {
    text-decoration: none;
    color: var(--tintColor);
}

a:hover {
    opacity: 0.95;
}

input[type=text], input[type=password] {
    width: 100%;
    border: solid 1px var(--backgroundTintColor);
    outline: none;
    box-sizing: border-box;
    font-size: 15px;
    margin: 0px;
    padding: 5px 12px;
    transition: 0.1s;
    background: var(--backgroundColor);
    color: var(--textColour);
}

select {
    appearance: none;
    -webkit-appearance: none;
    border-radius: 0px;
    width: 100%;
    border: solid 1px var(--backgroundTintColor);
    outline: none;
    box-sizing: border-box;
    font-size: 15px;
    margin: 0px;
    padding: 5px 12px;
    transition: 0.1s;
    background: transparent;
    color: var(--textColour);
    cursor: pointer;
}

select:focus {
    border: solid 1px var(--tintColor);
}

.selectWrapper {
    position: relative;
}

.selectWrapper:after {
    position: absolute;
    content: "\25be";
    color: #999;
    cursor: pointer;
    font-weight: 400;
    font-size: 18px;
    box-sizing: border-box;
    top: 3px;
    right: 15px;
    z-index: -1;
}

form .row {
    margin: 20px 0px;
}

form .row > label {
    font-weight: 600;
    font-size: 12px;
    color: var(--textWeakColor);
    margin: 0px 0px 5px 0px;
    text-transform: uppercase;
    display: block;
}

form .errors {
    list-style: none;
    padding: 0;
}

form .errors .error {
    color: #f36;
    padding: 3px 0;
}

form .errors .error:before {
    font-family: "Font Awesome 5 Free";
    content: "\f00d";
    font-weight: 900;
    margin-right: 5px;
}

input[type=text]:focus, input[type=password]:focus {
    border: solid 1px var(--tintColor);
}

input[type=text]:focus, input[type=password]:focus {
    border: solid 1px var(--tintColor);
}

input[type=submit], button {
    appearance: none;
    background: red;
    border: none;
    background: var(--tintColor);
    color: var(--backgroundColor);
    font-size: 16px;
    padding: 5px 15px;
    height: 30px;
    width: 100%;
    cursor: pointer;
    margin: 0px;
}

input[type=submit]:hover, button:hover {
    opacity: 0.90;
}

input[type=submit]:active, button:active {
    opacity: 1.0;
}

.alert {
    padding: 20px;
    margin-bottom: 10px;
}

.alert .fas {
    margin-right: 10px;
}

.alert.success {
    background: #64ff64;
}

.alert.error {
    background: #ff6464;
}

.alert.warning {
    background: #ffcf64;
}

.table {
    display: flex;
    flex-direction: column;
}

.table .row {
    display: flex;
    flex-direction: row;
    padding: 15px 0;
}

.table .row:not(:last-child) {
    border-bottom: 1px solid #eeeeef;
}

.table .row .cell {
    flex: 1;
}

.table .row .cell.heading {
    flex: 0.3;
    font-weight: bold;
    padding-right: 20px;
}