.table {
    display: flex;
    flex-direction: column;
}

.table .row {
    display: flex;
    flex-direction: row;
    padding: 15px 0;
}

.table .row:not(:last-child) {
    border-bottom: 1px solid #eeeeef;
}

.table .row .cell {
    flex: 1;
}

.table .row .cell.heading {
    flex: 0.3;
    font-weight: bold;
}

