{% extends "../dashboard.twig" %}

{% block title %}Personal details{% endblock %}

{% block main_content %}
    <h1>Personal details</h1>

    {% if user.getId() %}
        <h2 id="user-id">ID: {{ user.getId() }}</h2>
    {% endif %}

    {{ form(form) }}
{% endblock %}
