{% extends 'base.twig' %}

{% block page_body %}
    <div id="loginView">

        <div id="loginHeader">
            <div id="loginHeaderIcon"></div>
            <div id="loginHeaderTitle">HR Portal</div>
            <div id="loginHeaderSubtitle">Please login to continue.</div>
        </div>

        {{ form(form) }}

        <div class="detailSection">
            <a href="#">Forgotten password?</a>
        </div>
        <div id="loginFooter">
            <span>Confidential resource, provided by Yuconz.</span>
            <br>
            <span>Secure form sent via HTTPS.</span>
        </div>

    </div>
{% endblock %}

{% block page_head %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="/assets/css/login.css">
{% endblock %}
